<main id="partner" class="container">
  <h2>Вы представитель химчистки?</h2>
  <h3>Напишите нам, и мы свяжемся с вами для сотрудничества</h3>

  <div id="form" class="row">

    <%= form_tag '' do %>
      <div class="col-md-6">
        <div class="form-group">
          <%= label_tag :name, 'Имя и фамилия' %>
          <%= text_field_tag :name, nil, placeholder: 'Имя и фамилия', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :laundry, 'Название химчистки' %>
          <%= text_field_tag :laundry, nil, placeholder: 'Название химчистки', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :city, 'Город' %>
          <%= text_field_tag :city, nil, placeholder: 'Город', class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= label_tag :phone_number, 'Телефон' %>
          <%= text_field_tag :phone_number, nil, placeholder: 'Телефон', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :email, 'Email' %>
          <%= email_field_tag :email, nil, placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :content, 'Комментарий' %>
          <%= text_field_tag :content, nil, placeholder: 'Комментарий', class: 'form-control' %>
        </div>
      </div>

      <div id="submit-button" class="col-xs-12 text-xs-center form-group">
        <%= submit_tag 'Отправить', class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
</main>
