<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to 'Chisto', '#', class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Заказы', admin_orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Отзывы', admin_ratings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Города', admin_cities_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Категории', admin_categories_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Промоакции', admin_promotions_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Настройки', edit_admin_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Выйти', destroy_admin_session_path, method: :delete, class:'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Войти', '#', class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
