<nav class="navbar navbar-full navbar-light bg-faded">
  <div class="container">
    <%= link_to 'Laundry', '#', class: 'navbar-brand' %>
    <ul class="nav navbar-nav pull-xs-right">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Заказы', admin_orders_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Отзывы', admin_ratings_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Города', admin_cities_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Категории', admin_categories_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav float-xs-right">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Настройки', edit_admin_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_admin_session_path, method: :delete, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Войти', '#', class:'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
