<footer>
  <div class="container">
    <div class="row">
      <div id="info" class="col-sm-6 col-md-3">
        <h5>ООО «Бинари Блиц»</h5>

        <ul class="list-unstyled">
          <li>ИНН 18431941919</li>
          <li>ОГРН 41854195491519</li>
        </ul>

        Москва, ул. Большая Никитская, д. 22
      </div>

      <div id="footer-contact" class="col-sm-6 col-md-3">
        <h5>Как с нами связаться?</h5>

        <ul class="list-unstyled">
          <li class="phone-number">+7 495 766-78-49</li>
          <li class="email"><a href="mailto:info@chis.to">info@chis.to</a></li>
          <li>
            <ul id="social" class="list-inline">
              <li class="list-inline-item">
                <a href="#"><%= image_tag 'icon-instagram-footer.png', alt: 'Instagram' %></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><%= image_tag 'icon-facebook-footer.png', alt: 'Facebook' %></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><%= image_tag 'icon-vk-footer.png', alt: 'VK' %></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="payments" class="col-sm-6 col-md-3">
        <h5>Платежные системы</h5>

        <ul id="processing" class="list-inline">
          <li class="list-inline-item"><%= image_tag 'icon-visa-footer.png', alt: 'VISA', width: '55' %></li>
          <li class="list-inline-item"><%= image_tag 'icon-mastercard-footer.png', alt: 'MasterCard', width: '41' %></li>
        </ul>

        <ul id="acquiring" class="list-unstyled">
          <li class="list-inline-item"><%= image_tag 'icon-tinkoff-footer.png', alt: 'TinkoffBank', width: '74' %></li>
        </ul>
      </div>

      <div id="download" class="col-sm-6 col-md-3">
        <h5>Скачайте приложение</h5>

        <ul class="list-unstyled">
          <li><a href="#"><%= image_tag 'icon-appstore-footer.png', alt: 'AppStore', width: '100' %></a></li>
          <li><a href="#"><%= image_tag 'icon-googleplay-footer.png', alt: 'GooglePlay', width: '100' %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="legal" class="container">
    <span>&copy; 2016 «Chisto»</span>

    <ul class="list-inline float-sm-right">
      <li class="list-inline-item"><a href="legal/privacy-policy.pdf" target="_blank">Положение об обработке персональных данных</a></li>
      <li class="list-inline-item"><a href="legal/terms-of-service.pdf" target="_blank">Пользовательское соглашение</a></li>
    </ul>
  </div>
</footer>
