<%= provide(:title, 'Для партнёров') %>

<main id="partner" class="container">
  <h2>Вы представитель химчистки?</h2>
  <h3>Напишите нам, и мы свяжемся с вами для сотрудничества</h3>

  <div id="form">
    <%= form_for [:landing, @partner_application], html: { class: 'row' } do |f| %>
      <%= render 'shared/error_messages', object: @partner_application %>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :representative_name %>
          <%= f.text_field :representative_name, placeholder: 'Евгений Харитонов', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :laundry_name %>
          <%= f.text_field :laundry_name, placeholder: 'Название', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, placeholder: 'Москва', class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, placeholder: '+7 999 111-22-33', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'name@example.com', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, placeholder: 'Ваш комментарий', class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-12">
        <div id="submit-button" class="form-group">
          <%= f.submit class: 'btn btn-outline-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</main>
