<%= provide(:title, 'О сервисе') %>

<main id="about" class="container">
  <h2>Chisto позволяет вам сэкономить деньги и время, которые вы тратили на уход за вещами</h2>

  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-laundry.png', alt: 'Laundry', width: 45 %>
      <p>
        В Chisto собрана информация о более чем 25 химчистках и прачечных в 5 городах России. Каждая из них готова предложить качественный сервис.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-network.png', alt: 'Network', width: 45 %>
      <p>
        Благодаря широкой партнерской сети, вы можете получить выгодную цену на заказ. Просто сформируйте свой заказ, и Chisto найдет лучшее предложение.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-courier.png', alt: 'Courier', width: 45 %>
      <p>
        Больше не нужно ходить в химчистку, ваши вещи заберут прямо из дома в удобное время.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-wallet.png', alt: 'Wallet', width: 45 %>
      <p>
        Оплатить заказ можно в мобильном приложении или наличными курьеру.
      </p>
    </div>
  </div>
</main>
