<%= provide(:title, 'About') %>

<main id="about" class="container">
  <h2>Save time and money on dry-cleaning and laundry with Chisto.</h2>

  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-laundry.png', alt: 'Laundry', width: 45 %>
      <p>
        More than 25 dry cleaners in 5 cities of Russia. Each partner offers quality service.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-network.png', alt: 'Network', width: 45 %>
      <p>
        Get the best price thanks to our broad partner network. Just create an order, and Chisto will find the best deal.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="about-item col-md-6">
      <%= image_tag 'icon-courier.png', alt: 'Courier', width: 45 %>
      <p>
        No need to go the dry cleaners. Your items will be collected and returned at your convenience.
      </p>
    </div>
    <div class="about-item col-md-6">
      <%= image_tag 'icon-wallet.png', alt: 'Wallet', width: 45 %>
      <p>
        Pay with credit card in the app or in cash.
      </p>
    </div>
  </div>
</main>
