<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-itunes-app" content="app-id=1165430647">

    <title>Chisto</title>

    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= render 'layouts/landing/header' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/landing/footer' %>
  </body>
</html>
