<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Laundry</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'partner', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'partner', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'layouts/partner/navbar' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/partner/footer' %>
  </body>
</html>
