<!DOCTYPE html>
<html>
  <head>
    <title>Laundry</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'partner', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'partner', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'layouts/partner/navbar' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/partner/footer' %>
  </body>
</html>
